/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2019, 1:14:54 PM
    Author     : Kadjal
*/
body{
    background-image: url("../Images/background.png");
    background-size: auto;
    font-family:Verdana, Tahoma,sans-serif;
    font:8pt;
      
}

h2{
 background-image: url("../Images/bannerbg.png");
 background-repeat: repeat-x;
 width:100%;
 height:50px;
}
#main{
    margin-left: auto;
    margin-right:auto;
    
}
h1{
   font-family: Tahoma, Verdana,sans-serif;
   font:24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;  
}
.inside{
    border-radius: 200px;
    border:100px solid ;
    width:80%;
}
#center{
 
    border:4px solid gray;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    height:900px;
    overflow: hidden;
 
}
#overview{
    float:right;
}
section{
    display: inline;
    background-image:url("../Images/rbg.png");
    background-repeat:repeat-x;
    vertical-align: bottom;
}